.half-circle {
    width: 400px;
    height: 200px; /* as the half of the width */
    background-color: transparent !important;;
    border-top-left-radius: 210px;  /* 100px of height + 10px of border */
    border-top-right-radius: 210px; /* 100px of height + 10px of border */
    border: 7px solid white;
    border-bottom: 0;
}
.half-circle-smol {
    width: 60px;
    height: 30px; /* as the half of the width */
    background-color: white !important;
    border-top-left-radius: 40px;  /* 100px of height + 10px of border */
    border-top-right-radius: 40px; /* 100px of height + 10px of border */
    border: 7px solid white;
    border-bottom: 0;
}